<nav class="bg-gray-800">
    <div class="container mx-auto px-4 py-2 flex items-center justify-between">
      <div class="text-white font-bold text-xl">
        <a routerLink="/">Doctors App</a>
      </div>
      <div>
        <a
          routerLink="/doctors"
          class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >
          Doctors
        </a>
        <a
          routerLink="/tasks"
          class="text-gray-300 hover:text-white px-3 py-2 rounded-md text-sm font-medium"
        >
          Tasks
        </a>
      </div>
    </div>
  </nav>
  