<div class="min-h-screen flex flex-col">
  <!-- Navbar at the top, fixed -->
  <header class="fixed top-0 left-0 w-full z-50">
    <app-navbar></app-navbar>
  </header>

  <main class="flex-grow">
    <router-outlet></router-outlet>
  </main>

  <app-notification
    class="fixed bottom-4 w-full flex justify-center z-50"
  ></app-notification>

  <!-- Footer -->
  <footer class="bg-white shadow-md py-4 mt-auto">
    <div class="container mx-auto text-center text-gray-700">
      &copy; 2023 Doctors App. All rights reserved.
    </div>
  </footer>
</div>
