<div
  *ngFor="let notification of notifications"
  class="fixed bottom-4 right-4 sm:right-4 sm:max-w-sm max-w-full w-full px-4 sm:px-0 z-50"
>
  <div
    class="bg-white border-l-4 p-4 mb-4 shadow-lg rounded-md"
    [ngClass]="{
      'border-red-500': notification.type === 'error',
      'border-green-500': notification.type === 'success',
      'border-yellow-500': notification.type === 'warning',
      'border-blue-500': notification.type === 'info'
    }"
  >
    <div class="flex items-start">
      <div class="ml-3 w-0 flex-1">
        <p class="text-sm font-medium text-gray-900 break-words">
          {{ notification.message }}
        </p>
      </div>
      <div class="ml-4 flex-shrink-0 flex">
        <button
          (click)="closeNotification(notification.id)"
          class="text-gray-400 hover:text-gray-500"
        >
          <span class="sr-only">Close</span>
          <!-- Close Icon -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            class="h-5 w-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
